body {
    background-color: black;
    font-family: cursive;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: start;
    padding-inline: 1rem;
    padding-block: 1rem
}

.navbar > * {
    font-size: larger;
    font-weight: bold;
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 1rem;
}

.navbar > *:hover {
    background-color: white;
    color: black;
}

#name-inp {
    width: 10rem;
    height: 20px;
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 10px;
    margin-inline: 1rem;
    font-size: large;
    outline: none;
    border: none;
}

.btn {
    background-color: white;
    color: rgb(26, 25, 25);
    padding: 10px;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(26, 25, 25);
    color: white;
}